/* GLOBAL STYLES */

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --gray: rgba(0,0,0, .5);

  --font-family-montserrat: "Montserrat", sans-serif; /* 500, 700 */
  --font-family-fraunces: "Fraunces", sans-serif; /* 700 */
}

.page {
  margin: 0;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card-wrapper {
  width: 90%;
  max-width: 1440px;
  min-height: 600px;
  height: 80%;
  margin-top: 8rem;
  background: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  flex-direction: column;
  border-radius: 2rem;
  transition: .3s;
}

/* TEXT */

.text {
  font-family: var(--font-family-montserrat);
  font-size: 14px;
  line-height: 150%;
  color: var(--gray);
}

.text--style-bold {
  font-weight: 700;
}

.text--high {
  line-height: 225%;
}

/* HORIZONTAL RULER */

.hr {
  border: 0;
  margin: .5rem 0;
}

.hr--lg {
  margin: 1rem 0;
}

/* CARD */

.card {
  display: flex;
  width: 90%;
  max-width: 680px;
  background-color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  transition: .3s;
}

.card__image {
  width: 50%;
  background-image: url("./images/image-product-desktop.jpg");
  background-size: cover;
  display: block;
  min-height: 300px;
  transition: .3s;
  overflow: hidden;
}

.card__content {
  width: 50%;
  padding: 2rem;
  z-index: 1;
}

.card__prod-type {
  font-family: var(--font-family-montserrat);
  font-size: 14px;
  letter-spacing: .25rem;
  text-transform: uppercase;
  font-weight: 500;
}

.card__header {
  font-family: var(--font-family-fraunces);
  font-size: 30px;
  line-height: 90%;
  color: var(--very-dark-blue);
}

.card__prices {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-family: var(--font-family-fraunces);
  font-size: 30px;
  width: 60%;
  color: var(--dark-cyan);
}

.card__old-price {
  width: 40%;
}

.button {
  width: 100%;
  background: var(--dark-cyan);
  padding: 1rem;
  color: var(--white);
  border: none;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  vertical-align: bottom;
  transition: .3s;
  position: relative;
  justify-self: flex-end;
}

.icon {
  position: relative;
  transform: translateY(5%); /* Helps to avoid "blinking" effect on hover :( */
}

.button:hover {
  background: var(--very-dark-blue);
  transform: scale(0.95);
  cursor: pointer;
}

.button:active {
  transform: scale(0.85);
}

.footer {
  padding: 5rem 2rem;
  text-align: center;
  line-height: 500%;
}

.link {
  background-color: var(--dark-cyan);
  color: var(--white);
  padding: .125rem .5rem;
  text-decoration: none;
  border-radius: .25rem;
  transition: .3s;
}

.link:hover,
.link:active {
  background: var(--very-dark-blue);
}

@media (max-width: 850px) {
  .card__prices {
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    min-height: 500px;
  }
}

@media (max-width: 775px) {
  .page {
    justify-content: initial;
  }

  .card {
    flex-direction: column;
  }

  .card-wrapper {
    width: 100%;
    height: auto;
    min-height: auto;
    box-shadow: none;
    margin-top: 0;
    border-radius: 0;
  }

  .card__image {
    width: 100%;
    background-image: url("./images/image-product-mobile.jpg");
    background-position: top;
  }

  .card__content {
    width: 100%;
  }

  .card__prices {
    flex-direction: row;
    align-items: center;
  }

  .card__old-price {
    text-align: right;
  }

  .footer {
    padding-top: 2rem; 
  }
}